
@{
    ViewData["Title"] = "Gruppe suchen";
}

    <link rel="stylesheet" href="~/css/discovergroups.css" />

<div class="mapfiltercontainer">
    <div id="filtercontainer">
        @{await Html.RenderPartialAsync("_SportGroupsFilterPartial", "/SportGroup/TestMethod");}
    </div>
    <div id="mapcontainer">
        @*insert map here*@
    </div>
</div>


    

