.viewcontainer {
    display: grid;
    grid-template-columns: 775px auto;
    font-size: 20px;
    height: 100%;
}

.propertiesformgrid {
    display: grid;
    grid-template-columns: 250px 500px;
    grid-row-gap: 25px;
    padding: 5px 5px;
}

.propertiesheading {
    grid-column: span 2;
}

.activitygrid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}

    .activitygrid input {
        display: block;
        margin: auto auto;
    }

    .activitygrid img {
        display: block;
        margin: auto auto;
        margin-top: 5px;
        height: 30px;
    }

.gendergrid {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

    .gendergrid input {
        display: block;
        margin: auto auto;
    }

    .gendergrid img {
        display: block;
        margin: auto auto;
        margin-top: 5px;
        height: 30px;
    }

#submitbutton {
    width: 400px;
    grid-column: span 2;
}

.participantswrapper {
    height: 300px;
    border: solid 3px Black;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.participantentry {
    display: grid;
    padding: 5px;
    grid-template-columns: auto 140px;
}

    .participantentry span {
        display: inline-flex;
        align-items: center;
    }

    .participantentry:hover {
        background-color: #0E5090;
    }

.removeparticipantbutton {
    margin: 5px;
}

.meetuptimewrapper {
    display: grid;
    grid-template-columns: 250px 238px;
    grid-column-gap: 10px;
}

.isprivateselector {
    width: 250px;
}