/*View general*/
.viewcontainer {
    display: grid;
    height: 500px;
    grid-template-columns: 720px auto;
}

.nogroupstext {
    grid-column: span 2;
    margin-top: 150px;
}


/*Filter*/
.filtercontainer {
    background-color: #0E5090;
}

#filterformgrid {
    display: grid;
    grid-template-columns: 200px 500px;
    grid-row-gap: 20px;
    padding: 5px 5px;
}

    #filterformgrid p {
        margin: 0;
    }

.activitygrid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}

    .activitygrid input {
        display: block;
        margin: auto auto;
    }

    .activitygrid img {
        display: block;
        margin: auto auto;
        margin-top: 5px;
        height: 30px;
    }

.gendergrid {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

    .gendergrid input {
        display: block;
        margin: auto auto;
    }

    .gendergrid img {
        display: block;
        margin: auto auto;
        margin-top: 5px;
        height: 30px;
    }

.dategrid {
    display: grid;
    grid-template-columns: auto auto;
}

#submitbutton {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    grid-column: 2;
}

#resetbutton {
    cursor: pointer;
}

#resetbuttonicon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*Map*/
#map {
    background-color: #0E5090;
}

/*SportGroups table*/
.sportgroupstable {
    grid-column: span 2;
    margin-top: 10px;
}

.sportgroupstable th {
    word-wrap: break-word;
}

.tablerow {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 18px;
}

    .tablerow td {
        height: 85px;
    }

.firsttablecolumn {
    padding-left: 10px;
}

.lasttablecolumn {
    padding-right: 10px;
}

.mapicon {
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
}

    .mapicon:hover {
        outline: solid 3px Black;
    }

.tagicon {
    height: 40px;
    padding: 5px;
}

.joinbutton {
    width: 240px;
    height: 50px;
}

/*Pagination*/
.paginationcontainer {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffB01f;
    width: auto;
    height: 40px;
    margin: 20px auto;
    border: solid 3px Black;
    border-radius: 10px;
}

.adjacentpagebutton {
    width: 100px;
}

.pageindexbutton {
    width: 60px;
}

.currentpagebutton {
    text-decoration-line: underline;
}

.paginationbutton {
    background: transparent;
    border: none;
    text-align: center;
}

.participantsbutton {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

    .participantsbutton img {
        height: 30px;
    }

.participantsgrid {
    display: grid;
    grid-template-columns: auto 100px;
}

.popuplink {
    color: black;
    text-decoration: none;
}

.highlightentry {
    background-color: #0E5090;
}

#map {
    z-index: 0;
}