.participantswrapper {
    width: 400px;
    height: auto;
    margin-top: 25px;
    background-color: #1265b5;
    border: solid 3px Black;
    border-radius: 10px;
    color: #ffffff;
}

.participantsheading {
    margin-top: 5px;
    display: block;
    text-align: center;
}

#participantslist {
    padding: 5px 5px;
    height: 340px;
    overflow-x: hidden;
    overflow-y: auto;
}

#participantslist p {
    display: block;
}

.inviteheading {
    grid-column: span 2;
    margin: 0 5px 0 5px;
}

.invitewrapper {
    display: grid;
    grid-template-columns: auto 50px;
    grid-column-gap: 5px;
    margin: 5px;
}

#clipboardbutton {
    width: 50px;
}

    #clipboardbutton img {
        height: 30px;
    }