
<ul class="navbar-nav d-sm-inline-flex flex-sm-row-reverse">
    @if (User.Identity.IsAuthenticated)
    {
    <li class="nav-item">
        <a class="topnavbaritem" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
        <li class="nav-item">
            <form class="form-inline">
                <a class="topnavbaritem" asp-controller="Account" asp-action="Logout">Logout</a>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="topnavbaritem" asp-controller="Account" asp-action="GoogleLogin">Login</a>
        </li>
    }
</ul>