<ul class="topnavbaritem-right navbar-nav flex-sm-row-reverse d-sm-inline-flex">
    @if (User.Identity.IsAuthenticated)
    {
    <li class="form-inline">
        <img src="@User.Claims.ToList()[4].Value" alt="avatar" class="rounded-circle avatar" />
        <p>@User.FindFirst("Gender")?.Value</p>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Claims.ToList()[3].Value!</a>
    </li>
        <li class="form-inline">
                <a asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="topnavbaritem" asp-controller="Account" asp-action="GoogleLogin">Login</a>
        </li>
    }
</ul>