@model List<User>

<div class="absolutecenter participantswrapper">
    <h3 class="participantsheading">Teilnehmer</h3>
    <div id="participantsgrid" class="use-all-space">
        @foreach(var user in Model)
        {
            <div>
                <img src="@user.Picture" alt="Avatar von @user.Username;" class="rounded-circle avatar" />
                <span>@user.Username;</span>
            </div>
        }
    </div>
</div>
