@model List<User>

<div class="absolutecenter participantswrapper">
    <h3 class="participantsheading">Teilnehmer</h3>
    <div id="participantsgrid" class="use-all-space">
        @foreach(var user in Model)
        {

        }
    </div>
</div>
