@model List<User>

    <div class="absolutecenter participantswrapper">
        <h3 class="participantsheading">Teilnehmer</h3>
        <div id="participantslist">
            @foreach (var user in Model)
            {
                <p><img src="@user.PictureUrl" alt="Avatar von @user.Username" class="rounded-circle avatar" />@user.Username</p>
            }
        </div>
    </div>
