@model string;
    
    <link rel="stylesheet" href="~/css/sportgroupfilter.css" />

    <form id="filterwrappergrid" action="@Model" method="get">
        <b class="filterheading">Filter</b>
        <div class="text-right vcenter">
            <span id="resetbutton">Zurücksetzen</span>
            <img id="resetbuttonicon" src="~/icons/reset-icon.png" />
        </div>

        <b>Aktivität</b>
        <div class="activitygrid">
            <div>
                <input type="checkbox" name="ActivityCategories" value="TrackAndField" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="Football" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="Basketball" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="Swimming" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="WaterPolo" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="Cycling" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="Badminton" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="TableTennis" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="Boating" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="ActivityCategories" value="Other" />
                <img src="~/icons/placeholder.png" />
            </div>
        </div>

        <b>Geschlecht</b>
        <div class="gendergrid">
            <div>
                <input type="checkbox" name="GenderRestrictions" value="MaleOnly" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="GenderRestrictions" value="FemaleOnly" />
                <img src="~/icons/placeholder.png" />
            </div>

            <div>
                <input type="checkbox" name="GenderRestrictions" value="OtherOnly" />
                <img src="~/icons/placeholder.png" />
            </div>
        </div>

        <b>Max. Entfernung</b>
        <div>
            <input id="maxdistanceslider" class="slider" type="range" min="1" max="250" name="MaxDistance" />
            <div class="right">
                <input id="maxdistanceslidervalue" class="valuelabel" min="1" max="250" />
                <span>km</span>
            </div>
        </div>


        <b>Max. Teilnehmer</b>
        <div>
            <input id="participantsslider" class="slider" type="range" min="2" max="20" name="MaxParticipants" />
            <div class="right">
                <input id="participantsslidervalue" class="valuelabel" min="2" max="20" />
                <span>Personen</span>
            </div>
        </div>


        <b>Datum</b>
        <div class="dategrid">
            <div class="inline-block hcenter">
                <p>Von</p>
                <input id="mindate" type="date" name="MinDate" />
            </div>
            <div class="inline-block hcenter">
                <p>Bis</p>
                <input id="maxdate" type="date" name="MaxDate" placeholder="Test" />
            </div>
        </div>

        <input id="submitbutton" type="submit" class="hcenter" value="Anwenden" />
    </form>

    <script src="~/js/sportgroupsfilter.js" asp-append-version="true"></script>